{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">All Tasks</h6>
                </div>
                <div class="col-6 text-end">
                  <a href="{% url 'management:tasks-create' %}" class="btn btn-outline-primary btn-sm mb-0">+ Add New Task</a>
                </div>
              </div>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
          {% if tasks %}
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Task ID</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Deadline</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
                    <th class="text-secondary text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Assignees</th>
                    <th class="text-secondary text-uppercase text-secondary text-xxs font-weight-bolder text-end opacity-7 pe-3">Completed</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                  <tr>
                    <td><div class="text-sm font-weight-bold ps-2">{{ task.id }}</div></td>
                    <td><a class="text-sm font-weight-bold" href="{% url 'management:task-detail' task.pk %}">{{ task.name }}</a>
                    </td>
                    <td><div class="text-secondary text-xs"> {% if task.description|length > 60 %}
                      {{ task.description|slice:":60" }}...
                    {% else %}
                      {{ task.description }}
                    {% endif %}</div></td>
                    <td class="align-middle text-center"><span class="text-secondary text-xs font-weight-bold">{{ task.deadline }}</span></td>
                    <td class="text-center"><span class="text-sm font-weight-bold mb-0">{{ task.priority }}</span></td>
                    <td>
                      <div class="text-secondary text-xs font-weight-bold">
                        {% if task.assignees.all %}
                          {{ task.assignees.all|join:", " }}
                        {% else %}
                          No assignees
                        {% endif %}
                      </div>
                    </td>
                    <td class="align-middle text-end text-sm">
                      {% if task.is_completed %}
                        <span class="badge badge-sm bg-gradient-success">Completed</span>
                    {% else %}
                        <span class="badge badge-sm bg-gradient-secondary">Not Completed</span>
                    {% endif %}</td>
                    <td>
                      <a class="text-secondary font-weight-bold text-xs" href="{% url 'management:task-edit' task.pk %}">Edit</a>
                      <a class="text-secondary font-weight-bold text-xs ps-2" href="{% url 'management:task-delete' task.pk %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          {% else %}
            <p>No tasks available.</p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </div>

{% endblock %}